/* ================================index.html=============================== */

/* ================general=================== */

:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark-headers-text: #2e2f42;
  --success: #31d0aa;
  --body-text: #434455;
  --subtitle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--white-background);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-headers-text);
}

.section-secondary-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-headers-text);
}

.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* ===================header========================= */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.logo-color {
  color: var(--dark-headers-text);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.link-item:hover,
.link-item:focus {
  color: var(--pressed-state);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}

.info {
  font-style: normal;
}

.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}

.contact:hover,
.contact:focus {
  color: var(--pressed-state);
}
/* =====================hero==================== */

.hero {
  background-color: var(--hero-background);
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-btn {
  font-family: 'Roboto', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

/* =================gallery================ */

.gallery-section {
  background-color: var(--light);
}
.gallery-secondary-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-headers-text);
}

.gallery-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.text-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.gallery-secondary-list {
  background-color: var(--white-background);
}

/* =========================footer====================== */

.footer-main {
  background-color: var(--hero-background);
}

.footer-logo-color {
  color: var(--light);
}

/* ========================portfolio===================== */

.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--primary-brand);
  background-color: var(--light);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
